.container {
  @apply w-[407px] rounded-[14px] grid gap-[8px] relative;
}
.head {
  @apply w-full grid grid-cols-[1fr_auto] gap-[26px] pl-[6px] pr-[11px] py-[5px] rounded-[14px] border-solid border-[1px] border-[var(--autocomplate)] bg-[var(--white)];
  box-sizing: border-box;
  min-height: 44px;
}
.selectList {
  @apply flex flex-row justify-start items-center gap-[4px] flex-wrap w-full;
}
.toggleButton {
  @apply cursor-pointer w-[24px] h-[24px] self-center;
}
.icon {
  @apply w-[24px] h-[24px] text-[var(--autocomplate)];
  transition: var(--delay);
}
.open {
  transform: rotateZ(180deg);
}
